@charset "UTF-8";

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 100px;
  background-color: #0055BB;
}

#recipe_title {
	width: 350px;
	margin-left: 10px;
}

#recipe_url {
	width: 350px;
	margin-left: 10px;
}

#execute {
	margin-left: 400px;
}