@charset "UTF-8";

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 100px;
  background-color: #0055BB;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}